body{
	
	background-color : gray;
	width	: 800px;
	margin : auto;
	
}
h1{
	
	width	: 500px;
	margin : auto;
	text-align : center;
}
form {
	
	width	: 500px;
	margin : auto;
}

label {
	margin-right : auto;
}
input {
	margin-bottom : 10px;
	margin-top	: 10px;
}

table#tabela, th, td, tr{
	border : 1px solid black;
	margin : auto;
}